body{
    margin: 0;
    font: 14px Helvetica, sans-serif;
    color: #222;
    line-height: 1.625em;
}
#content{
    text-align: justify;
    width:780px;
    margin:0 auto;
}
#content h3 {
    color: #444444;
    float: left;
    font-weight: 600;
    margin-left: -185px;
    margin-top: 0;
    position: absolute;
    text-align: right;
    width: 180px;
}

p, blockquote, pre, code, samp, dl, ol, ul, h4{
    margin:0px;
}