body{
    margin: 0;
    font: 14px Helvetica, sans-serif;
    color: #222;
    line-height: 1.625em;
}
.content{
    text-align: justify;
    width:70%;
    margin:0 auto;
}
.content h3 {
    color: #444444;
    float: left;
    font-weight: 600;
    margin-left: -145px;
    margin-top: 0;
    position: absolute;
    text-align: right;
    width: 140px;
    font-size:0.9em;
}

p, blockquote, pre, code, samp, dl, ol, ul, h4{
    margin:0px;
}
blockquote{
    font-style: italic;
    padding-left: 1.475em;
    border-left: 3px solid #ccc;
}


@media print {
    a, a:visited
    {
        color: #222 !important;
        text-decoration: none;
    }
    a[href]:after
    {
        content: " (" attr(href) ")";
    }
    abbr
    {
        content: "";
    }
    abbr[title]:after
    {
        content: " " attr(title) "";
    }
    img
    {
        page-break-inside: avoid;
    }

    p, h2, h3
    {
        orphans: 3;
        widows: 3;
    }
    h2, h3
    {
        page-break-after: avoid;
    }
    pre
    {
        padding: 0;
    }
    #content
    {
        margin-top: 0;
    }
    #forkme, #buttons
    {
        display: none;
    }
    #content h3
    {
        position:relative;
        margin-left: 0;
        float: none;
        text-align: left;
        font-weight: 700;
        color: #444;
        width: auto;
    }
}