*{
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}
body{background:#FF0000;}
a, a:visited
{
    color: #222 !important;
    text-decoration: none;
}
a[href]:after
{
    content: " (" attr(href) ")";
}
abbr
{
    content: "";
}
abbr[title]:after
{
    content: " " attr(title) "";
}
img
{
    page-break-inside: avoid;
}
@page
{
    margin: 0.5cm;
}
p, h2, h3
{
    orphans: 3;
    widows: 3;
}
h2, h3
{
    page-break-after: avoid;
}
pre
{
    padding: 0;
}
#content
{
    margin-top: 0;
}
#forkme, #buttons
{
    display: none;
}
#content h3
{
    position:relative;
    margin-left: 0;
    float: none;
    text-align: left;
    font-weight: 700;
    color: #444;
    width: auto;
}
