<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
        <link rel="stylesheet" href="style.css" />
	<title>Alberto Tedeschi Resume</title>
</head>
<body>
    <div class="content">
        <h1>Alberto Tedeschi</h1>
        
        <div  id="personalInfo">
        <h2>Personal Informations</h2>
            <ul>
                <li><strong>Name</strong> Alberto</li>
                <li><strong>Surname</strong> Tedeschi</li>
                <li><strong>Birth Date</strong> Alberto</li>
                <li><strong>Nationality</strong> Alberto</li>
                <li><strong>Italian</strong> Mother tongue</li>
                <li><strong>English</strong> Fluent</li>
                <li><strong>Spanish</strong> Moderate</li>
            </ul>
        </div>
        
        <div  id="keySkill">
        <h2>Key Skills</h2>
            <ul>
                <li><strong>PHP5</strong> Advanced</li>
                <li><strong>Zend</strong> Advanced</li>
                <li><strong>Yii</strong> Advanced</li>
                <li><strong>SQL</strong> Advanced</li>
                <li><strong>MySql</strong> Advanced</li>
                <li><strong>PostgreSQL</strong> Advanced</li>
                <li><strong>Javascript</strong> Advanced</li>
                <li><strong>JQuery</strong> Advanced</li>
                <li><strong>BackBone</strong> Mid</li>
                <li><strong>Angular</strong> Junior</li>
                <li><strong>HTML</strong> Advanced</li>
                <li><strong>CSS</strong> Advanced</li>
                <li><strong>C++</strong> Advanced</li>
                <li><strong>Python</strong> Mid</li>
                <li><strong>Django</strong> Mid</li>
                <li><strong>Apache</strong> Advanced</li>
                <li><strong>Nginx</strong> Junior</li>
                <li><strong>GIT/SVN</strong> Advanced</li> 
                <li><strong>BASH</strong> Junior</li> 
            </ul>
        </div>
        {{ content }}
    </div>
</body>
</html>
