<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="style_print.css" media="print"/>
        <title>Alberto Tedeschi Resume</title>
    </head>
    <body>
        <span id="forkme">
            <a href="http://github.com/cdlate/resume">
                <img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
            </a>
        </span>
        <div id="buttons">
            <span>
                <a href="http://www.linkedin.com/pub/alberto-tedeschi/38/266/a02">
                    <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png" width="160" height="23" border="0" alt="View Alberto Tedeschi's profile on LinkedIn" />
                </a>
            </span>
        </div>

        <div class="content">
            {{ content }}
            <div id="download">
                <h2>Download</h2>
<p>This resume is hosted on <a href="http://cdlate.github.com/resume/">GitHub</a></p>
                <p>
                    You can download this resume in either <a href="http://github.com/cdlate/resume/zipball/master">zip</a> or <a href="http://github.com/cdlate/resume/tarball/master">tar</a> formats.<br />
                </p>
                <p>
                    You can also clone my resume with <a href="http://git-scm.com">Git</a> by running:
                </p>
                <pre>$ git clone git://github.com/cdlate/resume</pre>
            </div>
        </div>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38088406-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </body>
</html>
