<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="style_print.css" media="print"/>
        <title>Alberto Tedeschi Resume</title>
    </head>
    <body>
        <span id="forkme" style="position: absolute; top: 0; right: 0; border: 0;">
            <a href="http://github.com/cdlate/resume">
                <img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
            </a>
        </span>
        <div id="buttons">
            <span>
                <a href="http://www.linkedin.com/pub/alberto-tedeschi/38/266/a02">
                    <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png" width="160" height="23" border="0" alt="View Alberto Tedeschi's profile on LinkedIn" />
                </a>
            </span>
        </div>

        <div class="content">
            <h1>Alberto Tedeschi</h1>
            {{ content }}
        </div>
    </body>
</html>
